In [ ]:
# Import csv of results of cruising rallies

In [1]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('rally.csv', sep='\t')

In [3]:
# Confirm data is imported and in the correct format
* count number of values using .shape[0]
* summarize the imported data using .info()
* type of index, columns and values
* list first few rows using .head()

SyntaxError: invalid syntax (<ipython-input-3-55079db22582>, line 2)

In [12]:
df.shape[0]

7

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 20 columns):
Rally                7 non-null object
Year                 6 non-null float64
VesselName           6 non-null object
VesselMake           6 non-null object
LOA                  0 non-null float64
CaptainandCrew       5 non-null object
Homeport             6 non-null object
DepartedFrom         6 non-null object
DepartureDate        6 non-null object
MadeLandfall         6 non-null object
ArrivalDate          6 non-null object
DaysofCrossing       6 non-null float64
NMTravelled          6 non-null object
EquatorXLongitude    6 non-null object
EngineHours          6 non-null float64
Best24Hours          6 non-null object
Worst24Hours         6 non-null object
HighWindSpeed        6 non-null object
NoFishCaught         5 non-null object
Breakages            6 non-null object
dtypes: float64(4), object(16)
memory usage: 1.2+ KB

In [24]:
type(df.index)

pandas.core.indexes.range.RangeIndex

In [25]:
type(df.columns)

pandas.core.indexes.base.Index

In [26]:
type(df.values)

numpy.ndarray

In [14]:
df.head(3)

,Rally,Year,VesselName,VesselMake,LOA,CaptainandCrew,Homeport,DepartedFrom,DepartureDate,MadeLandfall,ArrivalDate,DaysofCrossing,NMTravelled,EquatorXLongitude,EngineHours,Best24Hours,Worst24Hours,HighWindSpeed,NoFishCaught,Breakages
0,Pacific Puddle Jump,2018.0,Alexandra,Bavaria 37,NaN,Stuart Corbett,Amsterdam NDL,Puerto Vallarta,17-May,Nuka Hiva,12-Jun,27.0,3000,130W,101.0,131,39,35 kts,NaN,Seam parted in headsail
1,Pacific Puddle Jump,2018.0,Banyan,Mason 43,NaN,The Yawler family,Sausalito CA,Puerto Vallarta,27-Mar,Hiva Oia,23-Apr,22.0,2750,128W,15.0,169,91,35 kts,9,Rip in Genoa
2,Pacific Puddle Jump,2018.0,Hylife,Hylas 49,NaN,OldMoon LLC,Coos Bay Or,Puerto Vallarta,17-Mar,Hiva Oia,3-Apr,19.0,2900,131W,42.0,206,108,30 kts,0,"Topping lift chafed through at masthead, one f..."

In [15]:
df[['Rally', 'Best24Hours', 'Worst24Hours']]

                 Rally Best24Hours Worst24Hours
0  Pacific Puddle Jump         131           39
1  Pacific Puddle Jump         169           91
2  Pacific Puddle Jump         206          108
3  Pacific Puddle Jump          na           na
4  Pacific Puddle Jump          na           na
5  Pacific Puddle Jump         150           85
6  Pacific Puddle Jump         NaN          NaN

In [17]:
df.loc[2,'LOA':'MadeLandfall']

LOA                           NaN
CaptainandCrew        OldMoon LLC
Homeport              Coos Bay Or
DepartedFrom      Puerto Vallarta
DepartureDate              17-Mar
MadeLandfall             Hiva Oia
Name: 2, dtype: object

In [20]:
r = df.groupby(['HighWindSpeed', 'DepartedFrom'])
r = df.sort_values(['Best24Hours','Worst24Hours'], ascending=False)
r.head(5)

,Rally,Year,VesselName,VesselMake,LOA,CaptainandCrew,Homeport,DepartedFrom,DepartureDate,MadeLandfall,ArrivalDate,DaysofCrossing,NMTravelled,EquatorXLongitude,EngineHours,Best24Hours,Worst24Hours,HighWindSpeed,NoFishCaught,Breakages
3,Pacific Puddle Jump,2018.0,Cool Change,Pacific Seacraft 31,NaN,NaN,Sausalito CA,Puerto Vallarta,27-Mar,Hiva Oia,23-Apr,27.0,2797,na,86.0,na,na,na,1,Second leg continued below???
4,Pacific Puddle Jump,2018.0,Jade Akka,Bruce Roberts 542,NaN,Thomas and Isabel Zwicker,"Basel, SWZ",La Paz,na,Hiva Oia,na,21.0,na,135W,18.0,na,na,32,2,Problems with new and little used Spectra Wate...
2,Pacific Puddle Jump,2018.0,Hylife,Hylas 49,NaN,OldMoon LLC,Coos Bay Or,Puerto Vallarta,17-Mar,Hiva Oia,3-Apr,19.0,2900,131W,42.0,206,108,30 kts,0,"Topping lift chafed through at masthead, one f..."
1,Pacific Puddle Jump,2018.0,Banyan,Mason 43,NaN,The Yawler family,Sausalito CA,Puerto Vallarta,27-Mar,Hiva Oia,23-Apr,22.0,2750,128W,15.0,169,91,35 kts,9,Rip in Genoa
5,Pacific Puddle Jump,2018.0,Sedna,Hans Christian 38,NaN,Clifton and Giselle Miller,Juneau AK,San Benedicto,16-Mar,Hiva Oia,6-Apr,21.0,2700,128W,100.0,150,85,35,3-Jan,Reef line chafe